.clients {
  padding: 0 0 60px 0;
}
.clients img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
  height: 50px;
  width: auto;
}
.clients img:hover {
  filter: none;
  opacity: 1;
}


.company-container {
  display: flex;
  justify-content: space-between;


}


